@tailwind base;
@tailwind components;
@tailwind utilities;
/* latin-ext */
@font-face {
	font-family: 'Raleway Dots';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/ralewaydots/v14/6NUR8FifJg6AfQvzpshgwJ8UwPVERtw.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway Dots';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/ralewaydots/v14/6NUR8FifJg6AfQvzpshgwJ8UzvVE.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
@layer components {
	.btn {
		@apply bg-white text-black p-2 place-self-end active:translate-y-1 active:translate-x-1 active:shadow-none hover:shadow-lg transition-all duration-150 cursor-pointer rounded-md;
	}
	.mainContainer {
		@apply px-2 max-w-6xl mx-auto;
	}
	.input {
		@apply p-2 font-mono rounded-lg w-1/2 border-2 border-black focus:border-purple-700 transition-colors duration-150 outline-none;
	}
	.inputArea {
		@apply p-5 font-mono rounded-lg w-1/2 border-2 border-black focus:border-purple-700 transition-colors duration-150 outline-none;
	}
}
